/*I am comment */
/* Comment  */

/* I
* am
comment */

/* p {
  font-size: 20px;
  color: "#ff0000";
}

.p-last {
  color: rgba(255, 0, 0, 1);
} */

/* h1 {
  color: rgb(0, 0, 255);
  color: rgba(0, 0, 255, 0.5);
} */

/* .heading-1 {
  text-align: left;
}
.heading-2 {
  text-align: right;
}
.heading-3 {
  text-align: center;
}
.heading-4 {
  text-align: justify;
}

p {
  width: 300px;
  text-align: justify;
} */

/* p {
  font-size: 20px;
} */

/* .p-with-bg { */
/* background-color: aquamarine; */
/* background-image: url(/colors_img.jpeg); */
/* background-attachment: local; */
/* background-repeat: no-repeat; */
/* background-position: top left bottom right center; */
/* background-size: cover; */
/* } */

/* .p-1 { */
/* border: 1px solid #000000; */
/* margin-top: 30px;
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 50px; */

/* margin: 50px; */

/* margin: 20px 50px; */

/* margin: 20px 30px 10px; */

/* margin: 10px 20px 30px 40px; */

/* width: 50%;
  margin: 10px auto; */
/* } */

.first-block {
  margin-top: 20px;
  margin-bottom: 50px;

  /* padding-bottom: 50px; */
}

.second-block {
  /* border-top: 1px solid transparent; !!!!!! */
  /* overflow: auto; !!!!!!!! */
  margin-top: 10px;
  margin-bottom: 50px;
}

p {
}
div {
}
img {
}

#first-block {
}

[class="second-block"] {
}

* {
}
