* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;

}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.header_top {
    background: #10BBD5;
    margin: 0 auto;

}


.header_items {

    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

}

.Logo_box {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.header_items img {
    width: 26px;
    height: 28px;
}

.logo_text {
    display: inline-block;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 700;
}

.logo_prace {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.basket_box {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4px;

}

.basket_box p {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.header_munu {
    max-width: 1300px;
    background-color: #FFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.header_munu_style {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header_munu li {
    display: inline-block;
    padding-left: 40px;
}

.header_link {
    text-decoration: none;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* main */

main {
    background-color: #EEEEEF;
    padding-bottom: 40px;
}

.main_box {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto;
    justify-content: space-between;
    gap: 24px 32px;


}

.Bestsellers {
    grid-column: 1/5;
    padding-top: 32px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;

}

.item {
    position: relative;
    width: 300px;
    padding: 32px;
    background-color: #F8FDFE;

}

/*  box new off hit */
.items_info {
    display: flex;
    position: absolute;
    gap: 1px;
}



.hit {
    top: 32px;
    left: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
}

.new {
    top: 32px;
    left: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #AF39E7;
    color: #F8FDFE;
}

.off {
    padding: 4px 8px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    padding-left: -4px;
}

/* box */



.img {
    margin: 0 auto;
    display: block;
    width: 178px;
    height: 280px;
}

.item_info {
    padding: 16px 0;
}

.item a {
    text-decoration: none;
}

.name_book {
    max-width: 250px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.author {
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #A8A8A8;
}

.pricу {
    padding-top: 8px;
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.buy::before {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 8px 24px;
    color: #F8FDFE;
    border-radius: 4px;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #4C394E;
    cursor: pointer;
    content: attr(text);
    transition: 0.7s;


}

.buy:hover::before {
    border-radius: 4px;
    background: #4D762D;
    cursor: pointer;

    content: attr(hover-text);
}

/* footer */

footer {
    background-color: #4C394E;
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
}

.footer_text {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;

    font-weight: 400;
    line-height: 24px;
}







.chat {
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 0;
    padding-right: 25px;
    padding-bottom: 25px;
}

.img_chat {
    width: 64px;
    height: 64px;
    background-color: #10BBD5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
