.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: gray;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header {
  grid-column: 1 / -1;
  height: 150px;
}

.sidebar {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.content {
  grid-column: 3 / 5;
  grid-row: 2;
}

.small-box {
  height: 100px;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .header,
  .sidebar,
  .content,
  .small-box {
    grid-column: 1;
  }
}
