/* @media [not|only] mediatype [and|, ] (property: value) {
} */

/* mediatype: all, print, screen, speech */

/* property: width and height, min-width and max-width, orientation: landscape or portrait,
  resolution; */

/* @media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  .nav {
  }
}

@media screen and (orientation: portrait) {
} */

/* ----------- */

/* mobile */
/* @media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 30px;
  }
} */

/* body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: antiquewhite;
  color: black;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:hover {
  cursor: pointer;
  color: blue;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
}

@media print {
  header,
  footer {
    display: none;
  }
} */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header,
footer {
  background-color: beige;
  color: rgb(45, 45, 45);
  padding: 1em;
  text-align: center;
  font-size: 18px;
}

section {
  margin-bottom: 20px;
  font-size: 18px;
}

/* img {
  max-width: 100%;
  height: auto;
} */

@media (min-width: 768px) {
  header,
  footer {
    text-align: start;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
  }

  section {
    margin: 0 10px;
  }
}
