.project {
    background: #202020;
    display: flex;
    width: 100%;
    justify-content: center;
    width: 100%;


    .project__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 530px;
        max-width: 1050px;
        padding: 0 10px;
    }







    .project__main-item {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-around;
    }



    .project__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        border: 1px solid #f2f2f2;
        border-radius: 139px;
        padding: 40px 60px;



    }

    .project__main-text {
        font-family: $second-family;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }




    .project__title {
        font-weight: 700;
        font-size: 48px;
        color: #fff;
        font-family: $font-family ;
        padding-top: 0;
    }

    .project__text {
        font-weight: 500;
        font-size: 24px;
        color: #fff;
        font-family: $second-family;
        display: flex;

        gap: 30px;

    }
}





@media (max-width: 768px) {
    .project {


        .project__link {
            padding: 40px 40px;
            width: 400px;
        }

        .project__title {
            font-size: 20px;
            color: #fff;
            font-family: $font-family ;
        }

        .project__text {
            font-size: 15px;
            color: #fff;
        }
    }
}