.header {
  content: '';
  background-image: url('../images/headerfon.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;

  &__title {
    font-weight: 700;
    font-size: 80px;
    color: #fff;
    font-family: $font-family;
  }

  &__conteiner {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 120px;
    box-sizing: border-box;
  }

  &__box-menu {
    display: flex;
    justify-content: center;
    background-image: url('../images/headerfon.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 24px 0 26px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    border: 1px solid #ffffff;
    border-radius: 24px;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  width: 100%;

  &-burger {
    display: none;

  }
}

@media (max-width: 1200px) {
  .header {



    &__menu-burger {
      display: flex;
    }

    &__list {
      display: none;
    }
  }
.header__title{
  font-size: 48px;
}

}