/* .grid-container {
  display: grid;
  padding: 10px;
  border: 1px solid #000;
  height: 500px;

  grid-template-columns: auto auto auto;
  grid-template-columns: 200px 100px 50px 50px;

  grid-template-rows: auto;
  grid-template-rows: 100px 50px 100px;

  justify-content: space-evenly;
  align-content: space-around;

  grid-gap: 5px;
} */

/* .grid-item {
  background-color: #f1f1f1;
  border: 1px solid #000;
  padding: 20px 0;
  font-size: 30px;
} */

.grid-item-first {
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-column: 2 / span 2;

  /* grid-row-start: 1;
  grid-row-end: 4; 
  grid-row: 1 / 4; */
  grid-row: 1 / span 2;

  /* grid-area: <grid-row-start> / <grid-column-start> / <grid-row-end> /
    <grid-column-end>; */

  grid-area: 1 / 1 / 3 / 3;
}

/* Grid Template Area */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "header header header" "nav main main" "aside main main" "footer footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.grid-item {
  padding: 10px;
  border: 1px solid #000;
}
