// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss




@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "base/header";
@import "base/abaut";
@import "base/company";
@import "base/skills";
@import "base/work";
@import "base/clients";
@import "base/team";
@import "base/contact";
@import "base/footer";



// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  // font-family: 'Gilroy-Bold', sans-serif;
  // font-family: 'Gilroy-Heavy', sans-serif;
  // font-family: 'Gilroy-Light', sans-serif;
  // font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif;

  overflow-x: hidden;
  background-color: #F5F3EA;

  .wrapper{
  width: 1201px;margin: 0 auto;
}
}


* {

  box-sizing: border-box;
}


.main{
&__img{
  width: 100%;
  height: auto;
}
}



@media (max-width: 1200px) {

}

@media (max-width: 768px) {
 
}