.wrapper {
  background-color: #ffffff;
  width: 1480px;

  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}



/*          header */



.header {
  margin: 63px auto 49px;
  width: 1283px;
  height: 189px;
}

.label {
  color: #4bcaff;
  font-size: 80px;
  font-weight: 400;
  text-decoration: none;

}

.label_style {
  color: #000;
}

.label p {
  padding-bottom: 40px;
}

.menu {

  display: flex;
  justify-content: center;
  background-color: #35444f;

}

.menu li {
  display: inline-block;
}



.btn {
  display: inline-block;
  text-decoration: none;
  padding: 25px 40px 19px;
  border-left: 1px #dededc solid;
  background-color: #35444f;
  cursor: pointer;
  color: #FFF;
  font-size: 24px;
}

.menu :last-child {
  border-right: 1px #dededc solid;
}

.btn:hover {
  background-color: #222F3A;
  transition: 0.5s;

}


/*          main */

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1283px;
  margin: 0 auto;
}

.left_menu {
  width: 344px;
  height: 400px;
  flex-shrink: 0;
  border: 1px solid #000;
}

.left_menu li a {
  padding-top: 25px;
}

.left_menu_btn {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  height: 55px;
  background: rgba(0, 0, 0, 0.00);
  width: 100%;
  cursor: pointer;
  color: #485863;
  font-size: 27px;
  line-height: 27px;

}

.left_menu_btn:hover {
  color: #35444F;
  background: #DBDBDB;
  transition: 0.5s;

}



.box {
 display: flex; 
  flex-direction: column;
  text-align: center; 

}

.img {
  
  width: 885px;
  height: 529px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.00);

}

img {
  width: 320px;
  height: 381px;
  margin: 75px auto;

}

.text {
  color: #2C2C2C;
  font-size: 18px;
  line-height: 24px;
  width: 885px;
  text-align: left;
  padding-top: 37px;
}

.text_1 {
  padding-bottom: 13px;
}


/*          footer */

footer {
  max-width: 1280px;
  padding-top: 40px;
  margin: 0 auto;

}

.footer_btn {
  
  display: flex;
  justify-content: space-evenly;
  background-color: #63696E7A;
  padding: 20px 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}
.footer_btn li{
  display: inline-block;
}

.footer_a {
  margin-right: 15px;
  color: #0C1927;
  text-decoration: none;
}

.footer_a:hover {
  color: #3181A6;
  text-decoration: underline;
  text-underline-offset: 9px;
  transition: 0.5s;
}

.footer_text {
  margin-left: 40px;
}