// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss

$font-stack: 'Cabin', sans-serif;
$primary-color: #1F1F1F;
$secondary-color: #000000;



@import "base/reset";
@import "base/header";
@import "base/footer";






body {
  font: 100% $font-stack;
  color: $primary-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main {
  background-color: #A8A8A8;
  padding: 0 52px 60px 52px;
}

.main__box {
  max-width: 1300px;
  margin: 0 auto;

  .main__title {
    margin: 0;
    padding: 40px 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    border-bottom: 1px solid #000000;
  }

  .main__box-item {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px 0;
    position: relative;
  }

  .main__chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    top: 0;
    margin: auto;
    // margin-left: auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main__chat-img {
    width: 64px;
    height: 64px;
    background-color: #10BBD5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}


.card {
  position: relative;
  width: 270px;
  padding: 32px;
  background-color: #F8FDFE;
  box-sizing: border-box;

  .card__link-img {
    margin: 0 auto;
    display: block;
    width: 75%;
    height: auto;

  }

  .card__item-info {
    padding: 16px 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .card__name-book {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #1F1F1F;
      font-family: Cabin;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      text-decoration: none;
    }

    .card__author {
      color: #8E8E8E;
      font-family: Cabin;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-bottom: 1px solid #A8A8A8;
    }

    .card__pricу {
      padding-top: 8px;
      color: #E90000;
      font-family: Cabin;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }
  }

  .card__buy_hover::before {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 8px 24px;
    color: #F8FDFE;
    border-radius: 4px;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #4C394E;
    cursor: pointer;
    content: attr(text);
    transition: 0.7s;
  }

  .card__buy_hover:hover::before {
    border-radius: 4px;
    background: #4D762D;
    cursor: pointer;
    content: attr(hover-text);
  }
}


.card__pricу-sale {
  margin-left: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  text-decoration: line-through;
  color: #8e8e8e;
}


.card__decor {
  position: absolute;
  top: 38px;
  left: 28px;
}

.hit {
  padding: 4px 8px;
  border-radius: 4px;
  background: #4200FF;
  color: #F8FDFE;
}

.new {
  padding: 4px 6px;
  border-radius: 4px;
  background: #AF39E7;
  color: #F8FDFE;

}

.off {
  padding: 4px 6px;
  border-radius: 4px;
  background: #EA33C0;
  color: #F8FDFE;
}

.card__info-decor-off {
  padding: 4px 8px;
  border-radius: 4px;
  background: #EA33C0;
  color: #F8FDFE;
}


  




