// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss

$font-family: "DynaPuff", sans-serif;
$second-family: "Manrope", sans-serif;
$primary-color: #fff;
$secondary-color: #faeb49;



@import "base/reset";
@import "base/header";
@import "base/footer";




body {
  font: 100% $font-family;
  color: $primary-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.info {
  background: #202020;
  padding: 101px 0 103px 0;
  position: relative;
 



  .info__conteiner {
    max-width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
 

    .info__title {
      font-family: $font-family;
      font-weight: 700;
      font-size: 48px;
      color: #faeb49;
      margin-bottom: 40px;
    }

    .info__item {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      max-width: 540px;
    }

    .info__number {
      font-family: $second-family ;
      font-weight: 700;
      font-size: 48px;
      color: #fff;
    }

    .info__text {
      font-family: $second-family ;
      font-weight: 500;
      font-size: 16px;
      color: #fff;

    }

  }
}

.info__text-size {
  max-width: 540px;
}

.info::before {
  content: url('../images/infoimg.svg');
  position: absolute;
  top: 0;
  right: 0;
  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // max-width: 200px;
  // width: 200px;
  // height: 150px;

}


.mobile-app {
  background-color: #565656;
}

.mobile-app__conteiner {
  max-width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 5px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.mobile-app__top {

  width: 100%;
  height: auto;

}

.mobile-app__project {
  max-width: 1050px;
  text-decoration: none;
  background: #fffef2;
  border-radius: 24px;
  padding: 24px 20px;
  background: #fffef2;
  display: block;
}

.mobile__img {
  // margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.project__title {
  padding: 22px 0;
  font-family: $font-family ;
  font-weight: 600;
  font-size: 40px;
  color: #565656;
  // margin-bottom: 22px;
}

.project__text {
  // max-width: 580px;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  font-family: $second-family;
}


.mobile-app__main {
  display: flex;
  justify-content: space-between;
}

.mobile-app__card {
  max-width: 285px;
  text-decoration: none;
  background: #fffef2;
  border-radius: 24px;
  padding: 24px 20px;
  background: #fffef2;
  display: block;
}

.mobile-app__card-title {
  font-family: $font-family ;
  font-weight: 600;
  font-size: 40px;
  color: #565656;
  margin-bottom: 22px;
}

.mobile-app__card-text {
  font-weight: 300;
  font-size: 16px;
  color: #000;
  font-family: $second-family;
}





.Graphics {
  padding: 10px;
  background: #202020;
}

.Graphics__conteiner {
  max-width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 86px 0 138px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.Graphics__title {
  font-weight: 700;
  font-size: 80px;
  color: #fff;
  font-family: $font-family ;
}

.Graphics__item {
  // margin: 0 auto;
  position: relative;

  .Graphics__decor {
    width: 40px;
    height: 40px;
    background-color: #faeb49;
  }

  .Graphics__link {
    display: block;
    border-radius: 40px;
    width: 100%;


    .Graphics__img {
      width: 100%;
      height: auto;
      min-height: 414px;
    }
  }
}

.Graphics_box {
  display: flex;
  gap: 20px;
  margin: 5px;
}



.Graphics__link-first--after::after {
  content: url('../images/Graphicssvg1.svg');
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.Graphics__link-second--after::after {
  content: url('../images/Graphicssvg2.svg');
  position: absolute;
  // top: 100px;
  // right: 170px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Graphics__link-third--after::after {
  content: url('../images/Graphicssvg3.svg');
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}


.information-text {
  content: '';
  background-image: url('../images/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;

  background-color: #565656;

  .information-text__box {
    max-width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 280px 0 320px 0;

    .information-text__text {
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      color: #fdfafa;
    }
  }

}

@media (max-width: 1200px) {
  .main {
    .mobile-app__card {
      max-width: 45%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .mobile-app__card-therd {
      display: none;
    }
  }
.info__conteiner{
  padding-left: 10px;
}
}

@media (max-width: 768px) {
  .main {

    .info {
      display: flex;
      align-items: center;
      height: 470px;
      padding: 16px;
      .info__title {
        font-size: 36px;
      }

      .info__number {
        font-size: 36px;
      }

      .info__text {
        font-size: 15px;
      }




    }





    .mobile-app__card {
      max-width: 45%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 5px;
    }

    .mobile-app__card-therd {
      display: none;
    }

    .mobile-app__card-second {
      display: none;
    }

    .mobile-app__card-ferts {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 5px;
    }

    .project__title {
      font-size: 32px;
    }

    .project__text {
      font-size: 15px;
    }

    .mobile-app__card-title {
      font-size: 24px;
    }

    .mobile-app__card-text {
      font-size: 15px;
    }


  }

  .Graphics {
    .Graphics__title {
      font-size: 36px;
      text-align: center;
    }

    .Graphics_box {
      display: flex;
      flex-direction: column;
    }
  }

  .information-text {
    .information-text__text {
      font-size: 24px;
    }
  }







}