/* Float */

/* .floated-img { */
/* float: left; */
/* float: right;
  float: none;
  float: inherit; */
/* } */

/* .content {
  margin-left: 200px;
}

.heading {
  clear: left;
} */

/* Overflow */

/* .box { */
/* width: 200px;
  height: 100px; */
/* overflow: visible;  default */
/* overflow: hidden; */
/* overflow: scroll; */
/* overflow: auto; */
/* } */

/* Positioning */
/* .wrapper { */
/* position: relative;
} */

/* .main-element { */
/* position: static; */
/* top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0; */

/* position: relative; */

/* position: absolute;
  background-color: rgb(234, 174, 237);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

/* position: fixed; */
/* background-color: rgb(234, 174, 237); */
/* bottom: 10px;
  left: 10px; */

/* position: sticky; */
/* } */

.text-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
