footer {

    background-color: #4C394E;
  
    .footer__box {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 1300px;
      display: flex;
      justify-content: space-between;
      padding: 32px 52px;
  
      .footer__text {
        color: #F8FDFE;
        font-family: Cabin;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  