.header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid #00000022;
    box-shadow: 0px 5px 4px #00000044;
  }
  .header__menu-top {
    background-color: #10BBD5;
    color: #FFFFFF;
  
    .header__top-box {
      margin: 0 auto;
      padding: 16px 52px;
      max-width: 1300px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .header__top-item {
      display: flex;
      align-items: center;
      gap: 10px;
  
      .header__top-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #f8fdfe;
      }
  
      .header__top-btn {
        background-color: #10BBD5;
        border: none;
        cursor: pointer;
      }
    }
  }
  
  .header__content {
    background-color: #FFFFFF;
    padding: 5px 0;
  
    .header__content-box {
      margin: 0 auto;
      padding: 8px 52px;
      max-width: 1300px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .header__content-link {
      color: $secondary-color;
      font-weight: 16px;
      text-decoration: none;
    }
  
    .header__content-item {
      display: flex;
      gap: 40px;
    }
  }