* {
  box-sizing: border-box;
}

.header {
  height: 900px;
  background-image: url(images/header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  padding: 149px 216px;

  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  margin-bottom: 85px;
}

.header-subtitle {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 16px;
}

.header-title {
  text-transform: uppercase;
  font-size: 54px;
  border: 1px solid #ffffff;
  background-color: #00000077;
}

.header-info {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 22px;
}

.header-title-we {
  display: inline-block;
  padding: 38px 23px 38px 31px;
  color: #f48e0b;
  border-right: 1px solid #f48e0b;
}

.header-title-main {
  display: inline-block;
  padding: 38px 31px 38px 23px;
}

/* About Us */
.about-us {
  margin-bottom: 85px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-title,
.our-secret-title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about-us-info,
.our-secret-info {
  color: #4d4943;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 50px;
}

.business-consulting-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 148px 148px;
  gap: 22px 30px;
}

.about-us-main-info {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.business-consulting-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.business-title {
  color: #333333;
}

.consulting-title {
  color: #f1ad1d;
}

.business-consulting-info {
  color: #505050;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 36px;
}

.business-consulting-btn {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  padding: 19px 27px;
  background-color: #f1ad1d;
  border: none;
  cursor: pointer;
}

/* Secret section */

.our-secret {
  margin-bottom: 85px;
}

.our-secret-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 426px;
  gap: 38px;
}

.our-secret-card {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.secret-card-header {
  padding: 22px 0 16px 0;
  background-color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.secret-card-first {
  color: #ffffff;
}

.secret-card-second {
  color: #f1ad1d;
}

/* New practise */
.contact-section {
  margin-bottom: 140px;
}

.contact-title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contact-subtitle {
  color: #4d4943;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.contact-subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f1ad1d;
  margin: 0 auto;
  margin-top: 47.5px;
  margin-bottom: 45px;
}

.contact-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-form-wrapper,
.get-in-touch-wrapper {
  flex-basis: 50%;
}

.form-title,
.get-in-touch-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  max-width: 383px;
  background-color: #333;
  padding: 24px 0 17px 17px;
  margin-bottom: 12px;
}

.form-subtitle,
.get-in-touch-subtitle {
  color: #505050;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 25px;
}

.get-in-touch-wrapper {
  padding-left: 50px;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 21px 0 13px 14px;
  margin-bottom: 19px;
  border: 1px solid #929292;
  outline: none;
}

input[type="text"],
input[type="email"] {
  width: 47%;
}

input:first-child {
  margin-right: 30px;
}

textarea {
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid #f1ad1d;
}

.form-btn {
  padding: 16px 40px;
  border: none;
  background-color: #f1ad1d;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}

.form-btn:hover {
  background-color: #f48e0b;
}

ul {
  color: #505050;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

li {
  margin-top: 6px;
}

/* .address-item::before {
  content: url(icons/location-icon.svg);
  display: inline-block;
  margin-right: 14px;
  background-color: #333333;
  padding: 12px 20px;
}

.tel-item::before {
  content: url(icons/tel-icon.svg);
  display: inline-block;
  margin-right: 14px;
  background-color: #333333;
  padding: 12px 20px;
}

.email-item::before {
  content: url(icons/letter-icon.svg);
  display: inline-block;
  margin-right: 14px;
  background-color: #333333;
  padding: 12px 20px;
}

.tel-item::before {
  content: url(icons/site-icon.svg);
  display: inline-block;
  margin-right: 14px;
  background-color: #333333;
  padding: 12px 20px;
} */

.address-item::before,
.tel-item::before,
.email-item::before,
.site-item::before {
  display: inline-block;
  margin-right: 14px;
  background-color: #333333;
  padding: 12px;
  width: 30px;
  text-align: center;
}

.address-item::before {
  content: url(icons/location-icon.svg);
}

.tel-item::before {
  content: url(icons/tel-icon.svg);
}

.email-item::before {
  content: url(icons/letter-icon.svg);
}

.site-item::before {
  content: url(icons/site-icon.svg);
}

.social-link {
  display: inline-block;
  background-color: #f1ad1d;
  padding: 12px 19px;
  margin-right: 13px;
}

.social-link:hover {
  background-color: #ca9117;
}
