* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Kalnia', serif; */
}

.wrapper {

    margin: 0 auto;
}

.header {
    text-align: center;

}

.menu1 {
    display: inline-block;
    margin: 32px;
    gap: 72px;
}

a {
    text-decoration: none;

    color: #000;
    font-size: 18px;


}

.box {
    background: #00BDC9;
}

.img {


    display: block;
    margin: 0 auto;
    padding: 92px;
}


.main {
    color: #161616;
    padding-top: 88px;
    max-width: 856px;
    margin: 0 auto;
    font-family: 'Inter';
    letter-spacing: 3px;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 40px;

}

.text {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 40px;
    line-height: 150%;
}

.style {
    color: #04959E;
}

.text_1 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
    line-height: 150%;
}

.button {
    padding: 10px 24px;
    text-align: center;
    padding-bottom: 88px;
}

.btn {
    color: #FFF;
    background: #04959E;
    font-size: 18px;
    font-weight: 400;
    width: 145px;
    height: 44px;

}
.lain{
    
    width: 100%;
    height: 1px;
background: #161616;
}

.footer {
    
    text-align: center;
}

.text_2 {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 16px;
}