/* custom properties  */

:root {
  --primary-color: #e4be89;
  --secondary-color: #c8c8c8;
  --font-size: 16px;
  --font-size-large: 30px;
  --padding: 10px;
}

body {
  font-size: var(--font-size);
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10;
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: var(--padding);
  }

  .header__logo {
    font-size: var(--font-size);
    font-weight: 900;
  }

  .header__navbar-list {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navbar__burger-line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
  }

  .header__list-item {
    display: inline-block;
    margin: 5px;
  }

  .header__list-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .header__list-link:hover {
    color: rgb(67, 67, 67);
  }

  .header__list-link--active {
    font-weight: 800;
  }

  .header,
  .footer {
    grid-column: 1 / -1;
  }

  .sidebar {
    background-color: #e2d7ae;
  }

  .main-content {
    background-color: #e4be89;
  }

  .footer {
    background-color: var(--secondary-color);
    padding: var(--padding);
  }

  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 2fr;
    }

    .header__logo {
      font-size: var(--font-size-large);
    }

    .navbar__burger {
      display: none;
    }

    .header__navbar-list {
      display: block;
    }
  }
}
