.wrapper {
    margin: 0 auto;
    max-width: 1296px;
    box-sizing: border-box;
    padding: 0 36px;
    position: relative;

}

header a {
    text-decoration: none;
}

/* menu */
.menu {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.menu_item {
    display: flex;
    align-items: center;

}

.logo {
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

/*       dropdown */
.dropdown {
    color: #EEE;
    padding: 10px 30px 10px 12px;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    cursor: pointer;
    margin: 0 40px;
    /* width: 98px; */
    position: relative;
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;

}

.dropdown::after {
    content: url(../../img/Frame\ down.svg);
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    right: 11%;
    top: 22%;
}

.dropdown_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    left: 0;
    width: 384px;
    margin-top: 25px;
    padding: 16px 12px 33px;
    background-color: #FFF;
    
    display: none;
box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.dropdown_menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}



.dropdown:hover>.dropdown_menu {
    display: initial;
}


.dropdown_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.dropdown_menu h3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
}
.dropdown_text2 {
    color: #000;
   margin-top: 40px;
   margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
}

.dropdown_text a {
display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}




.dropdown_line {
    display: block;
    margin-top: 40px;
    border: 1px solid #000000;
    width: 100%;
}

/* dropdown */

.header_input {

    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
    width: 330px;
    padding-left: 12px;
    border-radius: 4px 0 0 4px;
}

.header_input:focus {
    outline: none;
}

.header_btn_search {
    width: 38px;
    height: 38px;
    border: 1px solid #5C5C5C;
    background: #0F8277;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.menu_item_2 {
    display: flex;
}

.Courses,
.Corporate,
.dropdown_text {

    color: #000;
    font-size: 16px;
    font-weight: 500;
}



.Corporate {
    margin-left: 48px;
}

.menu_item_3 {
    font-size: 16px;
    font-weight: 700;
}

.header_in {
    padding: 10px 12px;
    color: #0F8277;
}

.header_up {

    padding: 10px 12px;
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
}

/* menu */


/* header_content */



.header_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 602px;
    border-radius: 12px;
    background-color: #DBF3ED;
    margin-bottom: 50px;

}


.header_content_foto {
    display: block;
    width: 450px;
    height: 540px;
}

.header_content_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 512px;
    gap: 32px;

}

.item_text {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    width: 482px;
}

h1 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

.btn_1,
.btn_2 {
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 12px;

}

.btn_1 {
    color: #EEE;
    background: #0F8277;
    text-decoration: none;
}

.btn_2 {
    color: #0F8277;
    border: 2px solid #0F8277;
    margin-left: 10px;
}