/* 1 */



.main_part_fers {
    margin: 0 auto;
    /* width: 1296px; */
}

.text_style {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
}

.second_title {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin: 12px 0;
}

.text_style_2 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}


/* 1 */


.main_ferst_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin: 40px auto 50px;
}

/* card */

.card {
    display: block;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.top_card {
    max-width: 100%;
    max-height: 270px;
    border-radius: 8px 8px 0 0;
}

.card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: 210px;
    padding: 24px 16px;
}

.card_info {
    display: flex;
}

.name_company {
    color: #000;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;

}

.card_title {
    align-self: stretch;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
}

.bonnet {
    width: 20px;
    height: 20px;
    margin-right: 13px;
}

.bonnet_text {
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
}

/* card */


.main_part_second {
    margin: 0 auto;
    /* width: 1296px; */
}


/* 2 */

.main_second_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin: 40px auto;

}

.more {
    text-decoration: none;
    /* margin: 20px auto 83px auto; */
    margin-top: 20px;
    margin-bottom: 83px;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    align-items: center;
}

.position {
    display: flex;
    justify-content: center;
    position: relative;
}
.more:after{
    content: url(../../img/arrow.svg);
    position: absolute;
   
    top: 0;
    right: -30%;
}


/* 3 */

.main_third_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin: 40px auto;
}
.info_colom a{
    text-decoration: none;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
}


.info_colom {
    display: grid;
    gap: 32px;
}

.text_style_3 {
    color: #000;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

/* 4 */
.main_fourth_item {
    margin: 0 auto;
  
    padding: 80px 30px;
    background-color: #DBF3ED;
    margin-bottom: 80px;
}

.second_title_2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin: 12px 0;
    text-align: center;
}

.fourth_title {
    margin: 0 auto;
    max-width: 871px;
}

.cooperate_companies {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1296px;
}

/* 5 */
.main_fifth_item {
    display: flex;
    gap: 72px;
}

.fifth_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.companies_img {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.companies_img li {
    width: 196px;
    height: 136px;
    line-height: 136px;
    text-align: center;
}

/* border img */

.loreal,
.pig,
.danone,
.tltl,
.capgemini,
.ge {
    border-right: 1px solid #BABABA;
}

.loreal,
.pig,
.reliance,
.danone,
.tltl,
.nbd {
    border-bottom: 1px solid #BABABA;
}

/* border img */

/* 6 */

.main_sixth_item {
    margin: 40px auto 0;
    padding: 80px 36px;
    background-color: #DBF3ED;
}

.box {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 40px;
}

.Choose_card {
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 416px;
}

.Choose_card_header {
    height: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Choose_card_header li {
    margin-bottom: 27px;
    text-align: center;
}



/* svg */
.card_item {
    display: flex;
    align-items: center;
    gap: 16px;
}


.arrow_img {
    margin-right: 6px;
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    background: #0F8277;
}


/* svg */
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

.price_style {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.btn_3 {
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 12px;
    color: #EEE;
    background: #0F8277;
    text-decoration: none;
}

.line {
    border: 2px solid #0F8277;
    width: 100%;
    margin: 48px 0;
}

.Choose_card:hover {
    background-color: #0F8277;
}

.Choose_card:hover .card_title {
    color: #FFFFFF;

}

.Choose_card:hover .text_style_3 {
    color: #FFFFFF;
}

.Choose_card:hover .price {
    color: #FFFFFF;
}

.Choose_card:hover .price_style {
    color: #FFFFFF;
}

.Choose_card:hover .line {
    border: 2px solid #FFFFFF;

}

.Choose_card:hover .btn_3 {
    border: 1px solid #FFFFFF;
}

.Choose_card:hover .arrow_img {
    background-color: #FFFFFF;
}

.Choose_card:hover .arrow path {
    width: 8px;
    height: 5px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #0F8277;
    background: #FFFFFF;
}



/* 7 */

.main_seventh_item {
    margin: 40px auto 0;
    padding: 80px 0;
}

.foto_students {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.foto_students img {
    width: 100%;
    height: auto;
}

.foto_2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}


/* 8 */

.main_eighth_item {
    background: url(../../img/image\ fon.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 87px;
}

.main_form {

    margin: 0 auto;
    display: flex;
    width: 565px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
    background: #DBF3ED;
}

.main_form p {
    text-align: center;
}

.box_input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box_input label {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}

.box_input input {
    width: 100%;
    height: 48px;
    padding: 12px;
    outline: none;
    border: 1px solid #0F8277;
    border-radius: 4px;
}

.box_input input:focus {
    content: "";
    box-shadow: 3px 3px 5px #1d2b30,
        -3px -3px 5px #1d2b30;
}

.box_input textarea {
    height: 104px;
    padding: 12px;
    outline: none;
    border: 1px solid #0F8277;
    border-radius: 4px;
    resize: none;
}

.box_input textarea:focus {
    content: "";
    box-shadow: 3px 3px 5px #1d2b30,
        -3px -3px 5px #1d2b30;
}

.btn_form {
    color: #F6FDFF;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 4px;
    background: #0F8277;
    width: 196px;
    border: none;
    cursor: pointer;

}