/* .menu-item {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background: #b7acac;
  text-decoration: none;
} */

/* .information { */
/* display: none; */
/* visibility: hidden; */
/* } */

.flex-container {
  display: flex;
  /* flex-direction: row; default */
  /* justify-content: start; default */
  background-color: bisque;
  padding: 10px;
  height: 300px;
  width: 100px;

  /* To center element
  justify-content: center;
  align-items: center; */

  /* wrap
  flex-wrap: nowrap; default 
  flex-wrap: wrap;
  flex-wrap: wrap-reverse; */
}

.flex-item {
  width: 30px;
  height: 30px;
  background-color: aquamarine;
  margin: 3px;
}

.flex-item-1 {
  /* flex-grow: 0; */
  /* order: 3; */
  flex-shrink: 0;
}
.flex-item-2 {
  /* flex-grow: 0; */

  /* order: 1; */

  flex-shrink: 1;
}
.flex-item-3 {
  /* flex-grow: 1; */

  /* order: 2; */

  flex-shrink: 2;
}
.flex-item-4 {
  /* flex-grow: 2; */

  /* order: 4; */

  flex-shrink: 1;
}
