.main-myClients__title{
    font-family: $second-family;
    font-weight: 300;
    font-size: $title-Mob;
    text-transform: uppercase;
    text-align: center;
    color: $fourth-color;
    padding: 30px 20px;
  }
  
  .main-myClients__wrapper{
    padding: 0 30px;
  }
  
   .main-myClients__Web,
   .main-myClients__Direction,
   .main-myClients__Design,
   .main-myClients__Motion,
   .main-myClients__Delivered,
   .main-myClients__Website{
    @include flex($direction:column);
    gap: 30px;
    padding-top: 40px;
    
    &::after{
      content: '';
      display: block;
      border-bottom: $border;
      margin-top: 10px;
     }
   }
  
   .main-myClients__logo-Web,
   .main-myClients__logo-Motion{
    width: 100px;
    height: 20px;
   }
  
   .main-myClients__logo-Direction,
   .main-myClients__logo-Design,
   .main-myClients__logo-Website{
    width: 80px;
    height: 20px;
   }
  
   .main-myClients__logo-Delivered{
    width: 60px;
    height: 30px;
   }
  
   .main-myClients__subtitle{
    font-family: $second-family;
    font-weight: 800;
    font-size: $subtitle-Clients-Mob;
    line-height: 110%;
    color: $fifth-color;
  }
  
  .main-myClients__text{
    font-family: $font-family;
    font-weight: 400;
    font-size: $text-Mob;
    line-height: 150%;
    color: $fifth-color;
  }
  
  .main-myClients__Author{
    @include flex;
    align-items: center;
    gap: 20px;
  }
  
  .main-myClients__Author-photo{
    border-radius: 100px;
    width: 50px;
    height: 50px;
  }
  
  .main-myClients__Info{
    @include flex($direction:column);
    gap: 10px;
  }
  
  .main-myClients__Info-name{
    font-family: $font-family;
    font-weight: 600;
    font-size: $text-Mob;
    line-height: 100%;
    color: $sixth-color;
  }
  .main-myClients__Info-position{
    font-family: $font-family;
    font-weight: 400;
    font-size: $text-Mob;
    line-height: 100%;
    color: $sixth-color;
  }
  
  @media (min-width: 768px){
    .main-myClients__title{    
      font-size: $title-Tab; 
      letter-spacing: 0.04em;   
    }
    .main-myClients__subtitle{
      font-size: $subtitle-Clients-Tab;
    }
  }
  
  @media (min-width: 1200px){
    .main-myClients__title{    
      font-size: $title-Clients-Desk;    
    }
    .main-myClients__wrapper{
      @include grid($colums:repeat(3, 1fr), $row:repeat(2, 1fr));
    }
    .main-myClients__Web,
    .main-myClients__Direction,
    .main-myClients__Design,
    .main-myClients__Motion,
    .main-myClients__Delivered,
    .main-myClients__Website{
     padding: 30px;
     position: relative;
           
     &::after{
      content: '';
      border-bottom: none;
      margin-top: 0;
    }
  }
   .main-myClients__Web,
   .main-myClients__Direction,
   .main-myClients__Design{
    &::after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: $border;
    }  
   }
   .main-myClients__Web,
   .main-myClients__Direction,
   .main-myClients__Motion,
   .main-myClients__Delivered{
    &::after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: $border;
   }
   }
  }
  
  