.main__contact-Wrapper{
  padding: 30px 20px 50px;
}

.main__contact{
  @include flex($direction:column);
  gap: 30px;
}
.main__contact-title{
  font-family: $second-family;;
  font-weight: 300;
  font-size: $title-Mob;
  text-transform: uppercase;
  text-align: center;
  color: $fifth-color;
  margin-bottom: 30px;
}

.main__contact-subtitle{
  font-family: $font3;
  font-weight: 400;
  font-size: $subtitle-Contact-Mob;
  text-transform: uppercase;
  text-align: center;
  color: $fourth-color;
}

.main__contact-text{
  font-family: $third-family;
  font-weight: 400;
  font-size: $text-Contact-Mob;
  text-align: center;
  color: $fourth-color;
}

.main__contact-btn{
  border-radius: 50px;
  padding: 10px 30px;
  background: $fourth-color;
  font-family: $third-family;
  font-weight: 400;
  font-size: $text-btn;
  text-transform: capitalize;
  color: $seventh-color;
 
    &::after{
      content: '';
      width: 24px;
      height: 17px;
      position: absolute;
      background-image: url(/images/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 5px;
    }
}

@media (min-width: 768px){
  .main__contact{
    align-items: center;
  }
  .main__contact-title{
    font-size: $title-Tab;
    margin-bottom: 40px;
  }
  .main__contact-subtitle{
    font-size: $subtitle-Contact-Tab;
  }
  .main__contact-text{
    font-size: $text-Contact-Tab;
  }
  .main__contact-btn{
    width: 195px;
    height: 53px;
  }
}

@media (min-width: 1200px){
  .main__contact-Wrapper{
    @include flex;
    justify-content: space-between;
    gap: 40px;
    padding: 50px 70px 100px;
 }
 .main__contact-title,
 .main__contact-subtitle,
 .main__contact-text{
  text-align: start;
 }
 .main__contact{
  align-items: start;
 }
}
