//Colors
$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(37, 37, 37);
$third-color: rgb(51, 51, 51);
$fourth-color: #252525;
$fifth-color: #333333;
$sixth-color:  #000;
$seventh-color: #fff;

$border:1px solid #252525;
                 
//Font-waight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-medium-2: 600;
$font-heavy: 800;
$font-bold: 900;


//Sizes
$font-size-xs: 8px;
$font-size-root: 16px;
$font-size-medium: 18px;
$font-size-mobile-large: 20px;
$font-size-large-1: 20px;
$font-size-large: 25px;

$font-size-l: 40px;
$font-size-xl-1: 44px;
$font-size-xl: 48px;
$font-size-xxl: 62px;
$font-size-xxxl: 72px;

// studenrt-2
$text-Mob:12px;
$title-Mob:46px;
$title-Tab:100px;
$title-whatIdo-Tab:92px;
$subtitle-whatIdo-Mob:23px;
$subtitle-whatIdo-Tab:35px;
$title-Clients-Desk:135px;
$subtitle-Clients-Mob:21px;
$subtitle-Clients-Tab:32px;
$subtitle-Contact-Mob:30px;
$subtitle-Contact-Tab:44px;
$text-Contact-Mob:19px;
$text-Contact-Tab:26px;
$text-btn:13px;

$font-family: "Inter", sans-serif;
$second-family: "Gilroy", sans-serif;
$third-family: 'Gilroy-Medium', sans-serif;
$font3: "Gilroy-Bold", sans-serif;
$font4: "Gilroy-Light", sans-serif;
$font5: "Gilroy-Regular", sans-serif;
