.main-whatIdo__img{
    height: 478px;
    background-image: url(/images/what-i-do-bgd.jpg);
    background-size: cover;
  }
  
  .main-whatIdo__wrapper{
    @include flex($direction:column);
    padding: 20px;
  }
  
  .main-whatIdo__title{
    font-family: $second-family;
    font-weight: $font-light;
    font-size: $title-Mob;
    text-transform: uppercase;
    text-align: center;
    color: $fourth-color;
    margin-bottom: 40px;
  }
  
  .main-whatIdo__subtitle-Digital,
  .main-whatIdo__subtitle-Art,
  .main-whatIdo__subtitle-Interaction,
  .main-whatIdo__subtitle-Motion{
    font-family: $font4;
    font-weight: $font-regular;
    font-size: $subtitle-whatIdo-Mob;
    text-transform: uppercase;
    color: $sixth-color;
    
    &::before{
      content: '01';
      padding-right: 5px;
    }
  }
  
  .main-whatIdo__subtitle-Art{
    &::before{
      content: '02';
     }
  }
  
  .main-whatIdo__subtitle-Interaction{
    &::before{
      content: '03';
     }
  }
  
  .main-whatIdo__subtitle-Motion{
    &::before{
      content: '04';
     }
  }
  
  .main-whatIdo__text-Digital,
  .main-whatIdo__text-Art,
  .main-whatIdo__text-Interaction,
  .main-whatIdo__text-Motion{
    font-family: $font-family;
    font-weight: $font-regular;
    font-size: $text-Mob;
    line-height: 140%;
    color: $sixth-color;
    margin-top: 10px;
   
    &::after{
      content: '';
      display: block;
      border-bottom: $border;
      margin: 30px 0;
    } 
  }
  .main-whatIdo__text-Motion{
    &::after{
      content: '';
      display: none;
    } 
  }
  
  @media (min-width: 768px) {
    .main-whatIdo__wrapper{
      padding: 40px 30px 30px;
    }
    .main-whatIdo__img{
      height: 991px;
    }
    .main-whatIdo__title{
      font-size: $title-whatIdo-Tab;
    }
    .main-whatIdo__subtitle-Digital,
    .main-whatIdo__subtitle-Art,
    .main-whatIdo__subtitle-Interaction,
    .main-whatIdo__subtitle-Motion{
     font-size: $subtitle-whatIdo-Tab;
    }
  }
  
  @media (min-width: 1200px) {
    .main__whatIdo{
      @include grid;
    }   
   .main-whatIdo__img{
      height: auto;
    }
   .main-whatIdo__wrapper{
      padding: 70px 40px 70px 80px;
    }
   .main-whatIdo__title{
      margin-bottom: 100px;
    } 
  }
  
  