* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

body {
    background-image: url(/img/fon.png);
    background-size: cover;

}

header {
    padding: 17px 0;
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);



}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 79px;
    max-width: 100%;


}

.logo {
    text-decoration: none;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.logo:hover {
    color: #3CB878;
    transition: 0.4s;

}



.menu-link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link-box {
    border-left: 1px solid #FFFFFFE5;
    padding-left: 27px;
}

.header-link {
    text-decoration: none;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.header-link-in:hover {
    color: #01813F;
    transition: .5s;
}


.test:hover {
    fill: #01813F;
    color: #01813F;
    transition: .3s;
}


/* main */

main {
    margin: 122px auto 74px;
    width: 444px;
    height: 600px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    position: relative;
}

.square {
    position: absolute;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background-color: #3CB878;
    top: 29px;
    left: 0;
}

.form {
    margin: 0 auto;
    width: 324px;
    height: 100%;
    padding-top: 31px;
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 38px;
    gap: 15px;

}



.choice {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.choice-sign {
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}


.choice-in {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;

    font-weight: 400;
    line-height: 14px;
}

.choice-in:hover {
    color: #01813F;
}

.btn {
    display: flex;
    justify-content: space-around;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.facebooc {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    position: relative;
}

.facebooc:hover {
    background-color: #022263;
    transition: .5s;
}

.decor-f{
    border-right: 1px solid #0A162F11;
    height: 24px;
    padding-right: 10px;
}
.decor-g{
    padding-top:  3px; 
    border-right: 1px solid #0A162F11;
    height: 24px;
    padding-right: 5px;
}

.google {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    position: relative;
}

.google:hover {
    background-color: #AB1F09;
    transition: .5s;
}

.google img {
    border-right: 1px solid #2B0D0911;
    height: 24px;
    padding-right: 7px;
}

.line {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.or {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

}

.or::before,
.or::after {
    content: "";
    position: absolute;
    top: 88%;
    width: 47%;
    height: 1px;
    background-color: #F2F2F2;
    transform: translateY(-50%);

}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}

.info {
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 18px;
}

.info:focus {
    outline: none;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}

.form-checkbox {
    display: flex;
    align-items: center;
}

.agree {
    
    display: inline-block;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.agree-style {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.agree-style:hover{
    color: #01813F;
    transition: .4s;
}

.form-btn {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
    padding: 16px auto;
    border: none;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    cursor: pointer;

}

.form-btn:hover {
    background-color: #01813F;
    transition: .5s;
}