/* .form-wrapper,
.link-wrapper,
.list-wrapper {
  padding: 20px 30px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(0, 208, 255);
  color: black;
  cursor: pointer;
}

button:active {
  background-color: rgb(235, 218, 93);
}

input {
  padding: 5px 10px;
  border: 1px solid #000;
  outline: none;
}

input:focus {
  border: 2px solid blue;
}

input:disabled {
  background-color: #8d8b8b;
}

.input-checkbox:checked {
  height: 20px;
  width: 20px;
  opacity: 0.5;
  border: 2px solid green;
}

.input-checkbox {
  display: none;
}

.checkbox-style {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  position: relative;
}

.input-checkbox:checked + .checkbox-style {
  border: 2px solid green;
}

a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

a:link {
  color: blueviolet;
}

a:visited {
  color: rgb(239, 137, 20);
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-weight: bold;
  color: blue;
}

li:nth-child(2n) {
  font-weight: bold;
  color: rgb(141, 60, 240);
}

li:nth-of-type() {
} */

.decorated::first-letter {
  font-size: 200%;
  color: green;
}

.decorated::first-line {
  font-size: 200%;
  color: rgb(196, 143, 216);
}

.addition-el {
  font-size: 20px;
  margin: 20px;
}

.addition-el::before {
  content: "\2605";
  color: red;
}

.addition-el::after {
  content: "\2605";
  color: blue;
}

.text-with-line {
  text-align: center;
  font-size: 20px;
  position: relative;
}

.text-with-line::before,
.text-with-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 2px;
  background-color: black;
  transform: translateY(-50%);
}

.text-with-line::before {
  left: 0;
}

.text-with-line::after {
  right: 0;
}
