.footer {
    margin: 0 auto;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        font-size: $font-size-medium;
        color: $fifth-color;
    }

    &__text-decot {
        font-weight: $font-bold;
        color: $fifth-color;
        font-size: $font-size-medium;
    }



}



@media (max-width: 1200px) {}

@media (max-width: 768px) {
    .footer{
flex-direction: column;
gap: 20px;




    }
}