div {
  width: auto;
  height: 150px;
  margin-bottom: 20px;
}

/* to bottom gradient */
.linear-gradient {
  background: linear-gradient(#0000ff, #dbef26);
}

.to-right-gradient {
  background: linear-gradient(to top, #6dd344, #26e2ef);
}

.angle-gradient {
  background: linear-gradient(30deg, #d9a5eb, #84159a);
}

.transparent-gradient {
  background: linear-gradient(to left, #0000ff00, #0000ffff);
}

.multiple-color-gradient {
  background: linear-gradient(
    to right,
    rgba(15, 15, 212),
    rgb(63, 246, 72),
    rgb(219, 50, 235),
    rgb(238, 160, 14),
    rgb(21, 163, 176)
  );
}

.ellipse-radial-gradient {
  background: radial-gradient(#2f2fe1, rgb(146, 146, 246));
}

.circle-radial-gradient {
  background: radial-gradient(circle, #3ed11d 10%, #0000ff 70%, #e145b7);
}

/* text-shadow: offset-x  offset-y blur-radius color; */

.text-shadow {
  font-size: 20px;
  color: #0000ff;
  text-shadow: -2px -2px 3px #7cbeff, 3px 3px 3px #3ed11d;
}

/* box-shadow: offset-x  offset-y blur-radius spread-radius color inset; */

.button-with-shadow {
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  max-width: 250px;
  color: #ffffff;
  background: #7c7cdf;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5),
    -3px -3px 5px rgba(206, 70, 70, 0.7);
}

/* .button-with-shadow:hover {
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
} */

.calendar path,
.calendar rect {
  color: #0000ff;
}

/* sprite */

.icon {
  background-image: url("css_sprites.png"); /* Шлях до вашого спрайта */
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px; /* Висота іконки */
  width: 16px; /* Ширина іконки */
}

.icon-first {
  background-position: 0 0; /* Позиція першої іконки у спрайті */
}
.icon-second {
  background-position: -16px 0; /* Позиція другої іконки */
}
.icon-third {
  background-position: -16px 0; /* Позиція другої іконки */
}
