footer {
    max-width: 1296px;
    margin: 0 auto;
    background-color: #F1F1F1;
    padding: 64px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_left,
.footer_right {
    width: 306px;
    height: auto;
}

.footer_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 55px;
}

.footer_instogram,
.footer_Facebook,
.footer_in{
    width: 34px;
height: 34px;
}
.social {
    width: 306px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    gap: 24px;
}
.social a{
    display: block;
}

.footer_instogram {
    background: url('../../img/Frame.png') no-repeat;
    background-size: cover;
   ;
}

.footer_Facebook {
    background: url(../../img/Frame2.png) no-repeat;
    background-size: cover;
   
}

.footer_in {
    background: url(../../img/Frame3.png) no-repeat;
    background-size: cover;
  
}