@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: $font-size-root;
  color: $dark-gray;
  background: $white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
