@import "./variables";

.header {
  background-color: $light-pink;
  color: $dark-gray;
  display: flex;
  justify-content: space-between;
  padding: 32px 15px;
}

.header__logo {
  font-family: $font-logo;
  font-size: $font-size-mobile-large;
}

.header__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.header__burger-item {
  width: 24px;
  height: 3px;
  background: $dark-gray;
  display: inline-block;
  border-radius: 2px;
}

.header__burger-text {
  text-transform: uppercase;
  font-size: $font-size-xs;
}

.header__nav-list {
  display: none;
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }

  .header__logo {
    font-size: $font-size-large;
  }

  .header__nav-list {
    display: flex;
  }
}
