//Colors
$primary-color: #796eff;
$light-pink: #f0ebfa;
$green: #81c43b;
$light-green: #f2f9eb;
$dark-gray: #35414b;
$light-violet: #ece5ff;
$gray: #97a5b5;
$white: #ffffff;

//Fonts
$font-primary: "Inter", sans-serif;
$font-logo: "Josefin Sans", sans-serif;

//Font-waight
$font-regular: 400;
$font-medium: 600;
$font-bold: 900;

//Sizes
$font-size-xs: 8px;
$font-size-root: 16px;
$font-size-medium: 18px;
$font-size-mobile-large: 20px;
$font-size-large: 24px;
$font-size-xl: 48px;
$font-size-xxl: 72px;
