@mixin button($bgColor: blue, $textColor: white) {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: $textColor;
  background-color: $bgColor;
}

.primaty-btn {
  @include button($bgColor: green);
}

@mixin before-icon($content: "") {
  &::before {
    content: $content;
    display: inline-block;
    margin-right: 5px;
  }
}

.main-btn {
  @include button;

  @include before-icon;
}
