nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.menu {
  margin-bottom: 20px;

  &__item {
    list-style: none;
    padding: 10px 15px;

    &--active {
      color: blue;
    }
  }
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  @include reset-list;
}
