@import "./_variable.scss";
@import "./_button.scss";
@import "./_list.scss";
@import "./_message.scss";

p {
  font-family: $font-stack;
  color: $primary-color;
}

a {
  font-family: $font-stack;
  color: $primary-color;
}
