.primaty-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: green;
}

.main-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: blue;
}
.main-btn::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.menu {
  margin-bottom: 20px;
}
.menu__item {
  list-style: none;
  padding: 10px 15px;
}
.menu__item--active {
  color: blue;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message, .success-message {
  border: 1px solid #ccc;
  padding: 10px;
  color: aqua;
}

.success-message {
  color: green;
}

p {
  font-family: Helvetica, sans-serif;
  color: #333;
}

a {
  font-family: Helvetica, sans-serif;
  color: #333;
}

/*# sourceMappingURL=output.css.map */
