/* BEM */

.button {
  padding: 10px 20px;
  background-color: rgb(157, 157, 238);
  color: black;
  border: none;
  border-radius: 5px;
}

.button--large {
  padding: 20px 40px;
  font-size: 20px;
}

.menu__item {
  list-style: none;
  padding: 10px 15px;
}

.menu__item--active {
  color: blue;
}

/* SMACSS */

/* base */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #123b6f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* layout */
.l-header {
  background-color: #ecedee;
  border-bottom: 1px solid #bfbfbf;
  padding: 20px;
}

/* module */

.logo {
  display: inline-block;
  margin-right: 30px;
}

.nav-menu {
  display: inline-block;
  list-style: none;
}

.nav-menu_item {
  display: inline;
  margin-right: 20px;
}

.nav-menu_link {
  color: #333;
  text-transform: uppercase;
}

/* state */
.nav-menu_link--active {
  color: #007bff;
  font-weight: 900;
}

.theme-dark .l-header {
}

.theme-dark .nav-menu_link {
}

/* OOCSS */
.btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: blue;
  color: white;
}

.secondary {
  background-color: rgb(196, 193, 193);
  color: #111;
}

.text {
  margin-bottom: 10px;
}

.large {
  font-size: 24px;
}

/* Atomic CSS */
.p-10-20 {
  padding: 10px 20px;
}

.b-none {
  border: none;
}

.br-5 {
  border-radius: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-blue {
  background-color: blue;
}

.text-white {
  color: white;
}
